<h1>About me</h1>
<p>Lots of interesting stuffs.</p>
<p>My favorite color is <%= @color %>!!!!!!!!!!!!</p>

<% if @size > 12 %>
 <div>My shoe size is <%= @size %>! <b>Man you have big feet!</b></div>
<% else %>
 <div><p>My shoe size is <%= @size %>!</p></div>
<% end %>

<style>
  body {
    background: <%= @color %>;
  }
</style>